<a href="https://colab.research.google.com/github/DanielMdevlop/PythonDataScience/blob/main/01Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

**¿Qué es pandas?**

pandas es una libreria de codigo abierto con licencia BSD que proporciona estructuras de datos de alto rendimiento y faciles de usar, ademas de herramientas de analisis de datos para el lenguaje de programación Python.

In [ ]:
import numpy as np
import pandas as pd

**Estructuras de pandas**

**Primera estruturas: Series**

Arreglo unidimensional (vector), homogeneo y etiquetado.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [ ]:
#Acceder a  los datos por su etiqueta
s['b']

3.0

In [ ]:
#Acceder a los datos por su posición
s[0]

1.0

**Segunda estructura: Dataframes**

Estructura tabular bidimensional (semejante a EXCEL), de tamaño modificable, etiquetada con columnas potencionalmente heterogéneas.

Creación de un DataFrame usando un array de NumPy, fecha como indice (index) y columnas etiquetadas.

In [ ]:
dates = pd.date_range('20200510', periods=6)  #Crear rangos de fechas. y especificando los periodos
dates

DatetimeIndex(['2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2020-05-10 -0.374802  0.484869 -1.561534 -1.930961
2020-05-11 -1.297488  0.280758 -2.160468 -1.521219
2020-05-12 -0.648745 -0.867202 -0.495789  0.956393
2020-05-13 -1.510627  2.045007 -0.070353  0.883430
2020-05-14  0.823134  1.705213 -0.052706  0.417172
2020-05-15 -0.034667  0.838147 -0.053960  1.661799

Creación de un DataFrame usando diccionarios (dic)

In [ ]:
df2 = pd.DataFrame({'A' : 1, 'B' : pd.Timestamp('20130102'), 
                    'C' : pd.Series(1, index=list(range(4)), dtype='float' ), 
                    'D' : np.array([3] * 4, dtype='int32'), 
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    "F" : 'foo'},
                   index=['f', 'g', 'h', 'i'])
df2

   A          B   C  D      E    F
f  1 2013-01-02 NaN  3   test  foo
g  1 2013-01-02 NaN  3  train  foo
h  1 2013-01-02 NaN  3   test  foo
i  1 2013-01-02 NaN  3  train  foo