**Introducción a Pandas**

Los principales objetos ofrecidos por pandas son el **DataFrame** (Estructura tabular bidimencional) y la **serie** ambas basadas en el array multidimencional de NumPy.

In [9]:
%config IPCompleter.greedy=True

In [3]:
#Importacion de la libreia pandas con habitual alias pd

import pandas as pd

#Se imnporta la libreria NumPy para poder aprovechar la funcionalidad que ofrece sobre pandas
#Hay que recordar que Pandas esta construida por NumPy, por que NumPy es necesario 
import numpy as np

**Introduccion a las series**

Son estructuras unidimensionales conteniendo un array de datos (de cualquier tipo soportado por NumPy)  y un array de etiquetas que van asociadas a los datos, llamado indice (index)

In [5]:
ventas = pd.Series([15, 12,21], index = ["Ene", "Feb", "Mar"])
ventas

Ene    15
Feb    12
Mar    21
dtype: int64

In [6]:
#Extraer datos de la serie por indice
ventas[0]

15

In [7]:
#Extraer datos por medio de la etiqueta
ventas["Ene"]

15

In [8]:
#El tipo de la serie
ventas.dtype

dtype('int64')

In [10]:
ventas.index

Index(['Ene', 'Feb', 'Mar'], dtype='object')

In [11]:
ventas.values

array([15, 12, 21], dtype=int64)

In [14]:
#Podemos establecer un nombre a la serie, por medio del atributo name
ventas.name = "Ventas 2018"
ventas.name

'Ventas 2018'

In [15]:
ventas

Ene    15
Feb    12
Mar    21
Name: Ventas 2018, dtype: int64

In [17]:
#Serie y el index ahora tienen un nombre
ventas.index.name = "MESES"
ventas

MESES
Ene    15
Feb    12
Mar    21
Name: Ventas 2018, dtype: int64

In [18]:
#El atributo axes nos da un acceso a una lista con los ejes de la serie
ventas.axes

[Index(['Ene', 'Feb', 'Mar'], dtype='object', name='MESES')]

In [19]:
#El atributo shape nos devuelve el tamaño de la serie
ventas.shape

(3,)

 **Introduccion a los DataFrames**
 Son estrcuturas tabulares de datos orientadas a columnas, con etiquetas tanto en filas como en columnas

In [20]:
#Creacion dataframe con ayuda del constructor DataFrame, pasandolo un 
#diccionario y una lista, donde el diccionario son las columnas y sus valortes
#La lista son las etiquetas de las filas.
ventas = pd.DataFrame({"Entradas" : [41, 32, 56, 18],
                     "Salidas": [17, 54, 6, 78],
                     "Valoracion": [66, 54, 49, 66],
                     "Limite": ["No", "Si", "No", "No"],
                     "Cambio": [1.43, 1.16, -0.67,0.77]
                      },
                     index = ["Ene", "Feb", "Mar", "Abr"]
                     )
ventas

     Entradas  Salidas  Valoracion Limite  Cambio
Ene        41       17          66     No    1.43
Feb        32       54          54     Si    1.16
Mar        56        6          49     No   -0.67
Abr        18       78          66     No    0.77

In [22]:
#Acceder a los tipos de las columnas con el atributo dtypes.
ventas.dtypes

Entradas        int64
Salidas         int64
Valoracion      int64
Limite         object
Cambio        float64
dtype: object

In [25]:
#Acceder a las etiquetas de las filos y columnas
print(f'Etiquetas filas: {ventas.index} \n')
print(f'Etiquetas columnas: {ventas.columns}')

Etiquetas filas: Index(['Ene', 'Feb', 'Mar', 'Abr'], dtype='object')

Etiquetas columnas: Index(['Entradas', 'Salidas', 'Valoracion', 'Limite', 'Cambio'], dtype='object')

In [26]:
#El atributo axes  devuelve una listad con los ejes de la estructura 
#dos al tratarse de una estructura bidimencional
ventas.axes

[Index(['Ene', 'Feb', 'Mar', 'Abr'], dtype='object'),
 Index(['Entradas', 'Salidas', 'Valoracion', 'Limite', 'Cambio'], dtype='object')]

In [27]:
#Se puede fijar el atributo name en el objeto index y columns
ventas.index.name = "Meses"
ventas.columns.name = "Metricas"
ventas

Metricas  Entradas  Salidas  Valoracion Limite  Cambio
Meses
Ene             41       17          66     No    1.43
Feb             32       54          54     Si    1.16
Mar             56        6          49     No   -0.67
Abr             18       78          66     No    0.77

In [30]:
#Se puede acceder a los valores de un dataframe, con el atributo
#values el cual nos retorna un array de NumPy 2d con los valores del DF
print(f'Tipo de dato: {type(ventas.values)}')
ventas.values

Tipo de dato: <class 'numpy.ndarray'>

array([[41, 17, 66, 'No', 1.43],
       [32, 54, 54, 'Si', 1.16],
       [56, 6, 49, 'No', -0.67],
       [18, 78, 66, 'No', 0.77]], dtype=object)

In [31]:
#Obtener las dimenciones o tamaño de un dataframe
ventas.shape

(4, 5)